.App {
  text-align: center;
  font-size: 1.1em;
  
}

.Temp{
  margin-top: 5%;
  margin-bottom: 10%;
}

.icontemp{
    /* min-height: 50vh; */
    margin-top: 25vh;
    text-align: center;
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

/* .bottomnav{
  position: fixed;
  position: fixed;
  left: 0;
  bottom: 10vh;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;

} */

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10uh;
  background:lightblue;
}

.nav-links{
  width: 50%  ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* .card{
  
  
} */